<confirmation-dialog
#saveBeforeLoadConfirmationDialog
[headerHtml]="'Open bridge design'"
[contentHtml]="'<p>You have unsaved changes. Save now?</p><p><b>Yes</b> to save.<br><b>No</b> to discard your changes.</p></b>'"
[buttons]="['yes', 'no', 'cancel']"
(onButtonClick)="handleConfirmationButtonClick($event)"
></confirmation-dialog>
<input-dialog
#fileNameInputDialog
[headerHtml]="'Bridge Designer'"
[promptHtml]="'Enter a download file name:'"
[noteHtml]="`This browser may put all your design files in the <b>Downloads</b> folder. For a 
better save and load experience, try a Chromium-based browser: Chrome or Edge for example.`"
></input-dialog>
