<jqxWindow
  #dialog
  [isModal]="true"
  [autoOpen]="false"
  [width]="dialogWidth"
  [height]="dialogHeight"
>
  <div
    #header
    class="header"
  >
    Design project setup wizard
  </div>
  <!-- css style.display must be initially empty for all card-X elements -->
  <div
    #content
    class="content"
  >
    <div class="title-bar card-1"><span class="card-number">1</span> Read the design requirement</div>
    <div class="title-bar card-2"><span class="card-number">2</span> Enter local contest information</div>
    <div class="title-bar card-3">
      <span class="card-number">3</span> Select deck elevation and support configuration
    </div>
    <div class="title-bar card-4"><span class="card-number">4</span> Select deck material and truck loading</div>
    <div class="title-bar card-5"><span class="card-number">5</span> Read the design requirement</div>
    <div class="title-bar card-6"><span class="card-number">6</span> Select a standard truss template (optional)</div>
    <div class="title-bar card-7"><span class="card-number">7</span> Read the design requirement</div>
    <div class="data-entry card-1">
      <fieldset class="grouping fill-row">
        <legend class="grouping-topic">Design requirement</legend>
        <div class="paragraph">
          As a civil engineer working for the state Department of Transportation, you are responsible for designing a
          truss bridge to carry a two-lane highway across the river valley. Your objectives are:
        </div>
        <div class="paragraph">
          (1) To ensure that the bridge can carry its own weight (to include the weight of the reinforced concrete
          deck), plus the weight of a standard truck loadking.
        </div>
        <div class="paragraph">(2) To keep the cost of the project as low as possible.</div>
        <div class="paragraph">For the complete Design Specifications, click the Help button below.</div>
      </fieldset>
    </div>
    <div class="data-entry card-2">
      <fieldset class="grouping fill-row">
        <legend class="grouping-topic">Local contest code</legend>
        <div class="paragraph">Are you participating in a local contest?</div>
        <jqxRadioButton
          [width]="232"
          [checked]="true"
        >
          No
        </jqxRadioButton>
        <jqxRadioButton
          [width]="232"
          (onChange)="localContestYesRadioChangeHandler($event)"
          style="margin-top: 8px"
        >
          Yes!
        </jqxRadioButton>
        <div class="vertical-gap">
          <local-contest-code-input
            #localContestCodeInput
            (onChange)="localContestInputChangeHandler($event)"
          ></local-contest-code-input>
        </div>
      </fieldset>
    </div>
    <div class="data-entry card-3">
      <fieldset class="grouping">
        <legend class="grouping-topic">Deck elevation</legend>
        <jqxDropDownList
          #deckElevationList
          [width]="200"
          [source]="deckElevations"
          [selectedIndex]="0"
          (onSelect)="deckElevationSelectHandler($event)"
        ></jqxDropDownList>
      </fieldset>
      <fieldset class="grouping fill-row">
        <legend class="grouping-topic">Support configuration</legend>
        <div class="control-grouping">
          <jqxRadioButton
            #standardAbutmentsButton
            [groupName]="'support'"
            [width]="200"
            [checked]="true"
          >
            Standard abutments
          </jqxRadioButton>
          <jqxRadioButton
            #archAbutmentsButton
            [groupName]="'support'"
            [width]="200"
            style="margin-top: 8px"
            (onChange)="archAbutmentRadioChangeHandler($event)"
          >
            Arch abutments
          </jqxRadioButton>
          <div class="indent vertical-gap">
            <label>
              Height of arch:
              <height-dropdown-list
                #archHeightList
                [heights]="archHeights"
                [disabled]="true"
                (onSelect)="setDesignConditionsFromWidgets()"
              ></height-dropdown-list>
            </label>
          </div>
        </div>
        <div class="control-grouping vertical-gap">
          <jqxRadioButton
            #noPierButton
            [groupName]="'pier'"
            [width]="200"
            [checked]="true"
          >
            No pier (one span)
          </jqxRadioButton>
          <jqxRadioButton
            #isPierButton
            [groupName]="'pier'"
            [width]="200"
            style="margin-top: 8px"
            (onChange)="isPierRadioChangeHandler($event)"
          >
            Pier (two spans)
          </jqxRadioButton>
          <div class="indent vertical-gap">
            <label>
              Height of pier:
              <height-dropdown-list
                #pierHeightList
                [heights]="pierHeights"
                [disabled]="true"
                (onSelect)="setDesignConditionsFromWidgets()"
              ></height-dropdown-list>
            </label>
          </div>
        </div>
        <div class="control-grouping vertical-gap">
          <jqxRadioButton
            #noAnchoragesButton
            [groupName]="'anchorage'"
            [width]="200"
            [checked]="true"
            (onUnchecked)="setDesignConditionsFromWidgets()"
          >
            No cable anchorages
          </jqxRadioButton>
          <jqxRadioButton
            #oneAnchorageButton
            [groupName]="'anchorage'"
            [width]="200"
            style="margin-top: 8px"
            (onUnchecked)="setDesignConditionsFromWidgets()"
          >
            One cable anchorage
          </jqxRadioButton>
          <jqxRadioButton
            #twoAnchoragesButton
            [groupName]="'anchorage'"
            [width]="200"
            style="margin-top: 8px"
            (onUnchecked)="setDesignConditionsFromWidgets()"
          >
            Two cable anchorages
          </jqxRadioButton>
        </div>
      </fieldset>
    </div>
    <div class="data-entry card-4">
      <fieldset class="grouping">
        <legend class="grouping-topic">Deck material</legend>
        <jqxRadioButton
          #mediumStrengthConcreteButton
          [groupName]="'deckMaterial'"
          [width]="200"
          [checked]="true"
          (onUnchecked)="setDesignConditionsFromWidgets()"
        >
          Medium-strength concrete<br />(0.23 meters thick)
        </jqxRadioButton>
        <jqxRadioButton
          #highStrengthConcreteButton
          [groupName]="'deckMaterial'"
          [width]="200"
          style="margin-top: 8px"
          (onUnchecked)="setDesignConditionsFromWidgets()"
        >
          High-strength concrete<br />(0.15 meters thick)
        </jqxRadioButton>
      </fieldset>
      <fieldset class="grouping vertical-gap fill-row">
        <legend class="grouping-topic">Loading</legend>
        <jqxRadioButton
          #standardTruckLoadButton
          [groupName]="'truckLoad'"
          [width]="200"
          [checked]="true"
          (onUnchecked)="setDesignConditionsFromWidgets()"
        >
          Standard 2.25 kN truck<br />(two lanes)
        </jqxRadioButton>
        <jqxRadioButton
          #permitTruckLoadButton
          [groupName]="'truckLoad'"
          [width]="200"
          style="margin-top: 8px"
          (onUnchecked)="setDesignConditionsFromWidgets()"
        >
          480 kN permit loading<br />(centered)
        </jqxRadioButton>
      </fieldset>
    </div>
    <div class="data-entry card-5">
      <fieldset class="grouping fill-row">
        <legend class="grouping-topic">Select a template</legend>
        <jqxListBox
          #templateList
          [width]="232"
          [height]="398"
          [selectedIndex]="0"
          (onSelect)="templateListSelectHandler($event)"
        ></jqxListBox>
      </fieldset>
    </div>
    <div class="data-entry card-6">
      <fieldset class="grouping fill-row">
        <legend class="grouping-topic">Title block information</legend>
        <div>
          <label
            for="projectName"
            class="paragraph"
            >Project name:
            <div>
              <input
                #projectNameInput
                id="projectName"
                style="width: 222px"
                type="text"
                maxlength="40"
                [(ngModel)]="bridgeService.bridge.projectName"
              />
            </div>
          </label>
        </div>
        <div class="vertical-gap">
          <label
            for="designerName"
            class="paragraph"
            >Designed by:
            <div>
              <input
                #designerNameInput
                id="designerName"
                style="width: 222px"
                type="text"
                maxlength="40"
                [(ngModel)]="bridgeService.bridge.designedBy"
              />
            </div>
          </label>
        </div>
        <div class="vertical-gap">
          <label
            for="projectId"
            class="paragraph"
            >Project ID:
            <div>
              <span class="scenario-id-text">{{ scenarioId }}&nbsp;&#8209;&nbsp;</span
              ><input
                #projectIdInput
                id="projectId"
                style="width: 162px"
                type="text"
                maxlength="40"
                [(ngModel)]="bridgeService.bridge.projectId"
              />
            </div>
          </label>
        </div>
      </fieldset>
    </div>
    <div class="data-entry card-7">
      <fieldset class="grouping fill-row">
        <legend class="grouping-topic">To design the truss:</legend>
        <ol>
          <li>Click the Finish button to activate the drawing board.</li>
          <li>Draw the joints.</li>
          <li>Draw the members.</li>
          <li>Run a load test to check the strength of your design.</li>
          <li>Strengthen any members that fail during the load test.</li>
          <li>Optimize the design by minimizing its cost.</li>
        </ol>
        <div class="vertical-gap">For more information about the design process, click the Help button below.</div>
      </fieldset>
    </div>
    <div class="graphics">
      <fieldset class="grouping">
        <legend class="grouping-topic">Deck cross-section</legend>
        <img
          class="deck-cartoon"
          [src]="deckCartoonSrc"
        />
      </fieldset>
      <fieldset class="grouping fill-row">
        <legend class="grouping-topic">Elevation view</legend>
        <canvas
          #elevationCanvas
          class="elevation-canvas"
          width="345"
          height="200"
        ></canvas>
        <div class="legend">
          <div class="legenditem bank"><img src="img/legendriverbanks.png" /> - River banks</div>
          <div class="legenditem excavation"><img src="img/legendexcavation.png" /> - Excavation</div>
          <div class="legenditem river"><img src="img/legendriver.png" /> - River</div>
          <div class="legenditem deck"><img src="img/legenddeck.png" /> - Deck</div>
          <div class="legenditem abutment"><img src="img/legendabutment.png" /> - Abutment</div>
          <div class="legenditem pier"><img src="img/legendpier.png" /> - Pier</div>
        </div>
      </fieldset>
    </div>
    <div class="tip">
      <fieldset class="fill-row">
        <legend class="grouping-topic">Design tip</legend>
        <div class="card-1">
          <div class="paragraph">
            <img
              class="tip-icon"
              src="img/tipicon.png"
            />
            The bridge designer {{ edition }} will help you satisfy these design requirements.
          </div>
          <div class="paragraph">
            The deck elevation and support configuration (which you will choose in Step&nbsp;3) will be automatically
            set on the drawing board. The Bridge Designer will also provide a simulated load test to check your bridge
            for structural safety using the deck weight and standard truck loading that you will choose in Step&nbsp;4.
            If your structure is not strong enough to carry the required loads, the Bridge Designer will highlight
            members that need more strength.
          </div>
        </div>
        <div class="card-2">
          <div class="paragraph">
            <img
              class="tip-icon"
              src="img/tipicon.png"
            />
            If you are participating in a local contest using a Local Contest Code furnished by the Bridge Designer
            team, you may only use the specific design project (i.e., site configuration and load case) designated for
            that particular local contest.
          </div>
          <div class="paragraph">
            When you enter the Local Contest Code here, the site configuration and load case for the context will be
            automatically set on the Drawing Board. Then, when you click the Next button, the Design Project Setup
            Wizard will advance to Step&nbsp;5 because the site configuration and load case are already set.
          </div>
        </div>
        <div class="card-3">
          <div class="paragraph">
            <img
              class="tip-icon"
              src="img/tipicon.png"
            />
            The total cost of the design is the Site Cost plus the Truss Cost. The Site Cost is shown below. The Truss
            Cost will be computed when you design the truss.
          </div>
          <div class="paragraph">
            In general, configurations that increase the Site Cost tend to reduce the Truss Cost and vice versa. For
            example, a lower deck elevation usually increases the Site Cost because it requires more excavation; but, a
            lower deck also reduces the Truss Cost because it shortens the span length. Try to find the best balance
            between these two competing costs.
          </div>
          <div class="paragraph">
            For more information on selecting a site configuration, click the Help button below.
          </div>
        </div>
        <div class="card-4">
          <div class="paragraph">
            <img
              class="tip-icon"
              src="img/tipicon.png"
            />
            Medium-strength concrete is relatively inexpensive, but its use results in a thicker deck, which adds more
            load to the structure. Greater loadwill tend to increase the truss cost.
          </div>
          <div class="paragraph">
            High-strength concrete is more expensive, but because of its higherstrength, the deck can be thinner and
            thus lighter. Lower loads associatedwith the deck weight will tend to decrease the truss cost.
          </div>
          <div class="paragraph">You may also choose either of the two truck loads shown.</div>
          <div class="paragraph">For more informaiton on selecting a load case, click the Help button below.</div>
        </div>
        <div class="card-5">
          <div class="paragraph">
            <img
              class="tip-icon"
              src="img/tipicon.png"
            />
            A template is a diagram that depicts a standard truss configuration. If you select a template, it will be
            displayed in light dotted lines on the Drawing Board. The template will show you where to draw joints and
            members to ensure that your bridge design is stable.
          </div>
          <div class="paragraph">
            A stable truss is one that is composed of interconnected triangles. An unstable truss cannot carry any load.
            For more information about structural stability, click the Help button below.
          </div>
        </div>
        <div class="card-6">
          <div class="paragraph">
            <img
              class="tip-icon"
              src="img/tipicon.png"
            />
            The title block will be displayed on the lower right-hand corner of the Drawing Board and on your printed
            design drawings.
          </div>
          <div class="paragraph">
            Enter your name in the Designed By box, and use the Project ID box to give your design a unique name or
            number. You can change these items later by nclicking them on the Drawing Board.
          </div>
        </div>
        <div class="card-7">
          <div class="paragraph">
            <img
              class="tip-icon"
              src="img/tipicon.png"
            />
            The title block will be displayed on the lower right-hand corner of the Drawing Board and on your printed
            design drawings.
          </div>
          <div class="paragraph">
            Enter your name in the Designed By box, and use the Project ID box to give your design a unique name or
            number. You can change these items later by clicking directly on the title block of the Drawing Board.
          </div>
        </div>
      </fieldset>
    </div>
    <div
      #siteCostPane
      class="site-cost"
    >
      <fieldset style="padding-top: 0">
        <legend>Site cost:</legend>
        <jqxExpander
          #siteCostExpander
          [width]="'100%'"
          [expanded]="false"
          [disabled]="true"
          (onExpanding)="siteCostExpandingHandler()"
          (onCollapsed)="siteCostCollapsedHandler()"
        >
          <div>
            <div class="cost-summary-line">
              <div class="deck-cost">
                <ng-container *ngIf="siteCostExpander.disabled(); else siteCostEnabled">$0.00</ng-container>
                <ng-template #siteCostEnabled>{{ toDollars(costSummary.totalFixedCost) }}</ng-template>
              </div>
              <div class="deck-cost-comment">(Includes cost of deck, excavation, and supports; not steel)</div>
              <div class="site-condition">
                Site condition:
                <ng-container *ngIf="siteCostExpander.disabled(); else siteConditionEnabled">-----</ng-container>
                <ng-template #siteConditionEnabled>{{ costSummary.siteCondition }}</ng-template>
              </div>
            </div>
          </div>
          <div>
            <table class="cost-table">
              <tr>
                <td>Deck cost</td>
                <td>
                  ({{ costSummary.panelCount }} each 4-meter panels) x ({{ toDollars(costSummary.deckCostRate) }} per
                  panel)
                </td>
                <td>=</td>
                <td>{{ toDollars(costSummary.deckCost) }}</td>
              </tr>
              <tr>
                <td>Excavation cost</td>
                <td>
                  ({{ toCount(costSummary.excavationVolume) }} cubic meters) x (
                  {{ toDollars(costSummary.excavationCostRate) }} per cubic meter)
                </td>
                <td>=</td>
                <td>{{ toDollars(costSummary.excavationCost) }}</td>
              </tr>
              <tr>
                <td>Abutment cost</td>
                <td>
                  ({{ costSummary.abutmentCount }} {{ costSummary.abutmentType }} abutments) x ({{
                    toDollars(costSummary.abutmentCostRate)
                  }})
                </td>
                <td>=</td>
                <td>{{ toDollars(costSummary.abutmentCost) }}</td>
              </tr>
              <tr>
                <td>Pier cost</td>
                <td>
                  <div *ngIf="costSummary.isPier; then hasPier; else noPier"></div>
                  <ng-template #hasPier>(1 each {{ costSummary.pierHeight }} meter pier)</ng-template>
                  <ng-template #noPier>No pier</ng-template>
                </td>
                <td>=</td>
                <td>{{ toDollars(costSummary.pierCost) }}</td>
              </tr>
              <tr>
                <td>Anchorage cost</td>
                <td>
                  <div *ngIf="costSummary.anchorageCount > 0; then hasAnchorages; else noAnchorages"></div>
                  <ng-template #hasAnchorages
                    >({{ costSummary.anchorageCount }} anchorages) x ({{ toDollars(costSummary.anchorageCostRate) }} per
                    anchorage)</ng-template
                  >
                  <ng-template #noAnchorages>No anchorage</ng-template>
                </td>
                <td>=</td>
                <td>{{ toDollars(costSummary.anchorageCost) }}</td>
              </tr>
              <tr>
                <td></td>
                <td class="total">Total site cost</td>
                <td>=</td>
                <td class="total">{{ toDollars(costSummary.totalFixedCost) }}</td>
              </tr>
            </table>
          </div>
        </jqxExpander>
      </fieldset>
    </div>
    <div class="wizard-controls">
      <jqxButton
        #helpButton
        (onClick)="helpButtonOnClickHandler()"
        [width]="buttonWidth"
        style="margin-right: 8px"
        >Help...</jqxButton
      >
      <jqxButton
        #cancelButton
        (onClick)="dialog.close()"
        [width]="buttonWidth"
        style="margin-right: 8px"
        >Cancel</jqxButton
      >
      <jqxButton
        #backButton
        (onClick)="backButtonOnClickHandler()"
        [width]="buttonWidth"
        [disabled]="true"
        style="margin-right: 4px"
        >&lt;&lt;&nbsp;Back</jqxButton
      >
      <jqxButton
        #nextButton
        (onClick)="nextButtonOnClickHandler()"
        [width]="buttonWidth"
        style="margin-right: 8px"
        >Next&nbsp;&gt;&gt;</jqxButton
      >
      <jqxButton
        #finishButton
        (onClick)="finishButtonOnClickHandler()"
        [width]="buttonWidth"
        style="margin-right: 2px"
        >Finish</jqxButton
      >
    </div>
  </div>
</jqxWindow>
