<toast></toast>
<div
  #wrapper
  class="wrapper"
>
  <canvas
    #draftingPanel
    class="view"
    [width]="width"
    [height]="height"
    (contextmenu)="ignore()"
  >
    <tool-selector #toolSelector></tool-selector>
  </canvas>
  <cursor-overlay
    #cursorLayer
    class="cursor"
    [width]="width"
    [height]="height"
    (addJointRequest)="addJointRequestHandler($event)"
    (addMemberRequest)="addMemberRequestHandler($event)"
    (deleteRequest)="deleteRequestHandler($event)"
    (moveJointRequest)="moveJointRequestHandler($event)"
    (dragCursorActive)="dragCursorActive($event)"
  ></cursor-overlay>
  <div
    #titleBlock
    class="title-block"
    (keydown)="handleTitleBlockKeyDown($event)"
  >
    <div class="project-name">
      <input
        #projectNameInput
        type="text"
        maxlength="40"
        [(ngModel)]="bridgeService.bridge.projectName"
      />
    </div>
    <div class="designer-name">
      Designed by:
      <input
        #designerNameInput
        style="width: 200px"
        type="text"
        maxlength="40"
        placeholder="Your name!"
        [(ngModel)]="bridgeService.bridge.designedBy"
      />
    </div>
    <div class="project-id">
      Project ID:
      <span class="scenario-id-text">000{{ bridgeService.bridge.designConditions.tag }}&nbsp;&#8209;&nbsp;</span
      ><input
        #projectIdInput
        style="width: 200px"
        type="text"
        maxlength="40"
        placeholder="Your project ID!"
        [(ngModel)]="bridgeService.bridge.projectId"
      />
    </div>
  </div>
</div>
