body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: Black;
  background-color: rgb(255,255,226);
  overflow: hidden;
  padding: 8px;
}

.help-container {
  display: flex;
  height: calc(100vh - 12px);
}

.nav-outline {
  width: max-content;
  box-sizing: border-box;
  white-space: nowrap;
  flex: 0 0 auto;
  overflow: auto;
  padding-right: 8px;
}

.content-column {
  box-sizing: border-box;
  width: 100%;
  flex: 1 1 auto;
  overflow: auto;
  padding-left: 8px;
}

.drag-bar {
  width: 10px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
  height: 100%;
}

.drag-bar::before {
  content: '';
  display: block;
  width: 4px;
  background: gray;
  margin: 0 auto;
  height: calc(100% - 20px);
}

nav ul,
.doctree {
  list-style-type: none;
  padding-inline-start: 18px;
}

.doctree {
  margin: 0;
  padding: 0;
}

.folder {
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.folder::before {
  content: '▸';
  color: gray;
  display: inline-block;
  margin-right: 6px;
}

.open::before {
  transform: rotate(90deg);
}

.item {
  cursor: pointer;
}

.item::before {
  content: '🗎';
  display: inline-block;
  margin-right: 4px;
}

.content-column > div {
  display: none;
}

.topic-link {
  color: #0000ff;
  text-decoration: underline;
  cursor: pointer;
}

.popup-link {
  color: #0000ff;
  text-decoration: dotted;
  cursor: pointer;
  position: relative;
}

.popup {
  width: 1000px;
  border: 1px solid black;
  padding: 4px;
  color: black;
  background-color:  white;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 20px;
}

/** Migrated from css written by a ~2010 JavaHelp tool called Helen. */
.content-column p {
  font-size: 12pt;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-column h1 {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #efefef;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}

.content-column h2 {
  font-size: 14pt;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 4px;
}

.content-column h3 {
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 4px;
}

.content-column h3 {
  font-size: 12pt;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 4px;
}

.content-column ol {
  font-size: 12pt;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 30px;
}

.content-column li {
  margin-top: 0px;
  margin-bottom: 5px;
}

.content-column li p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.content-column ul {
  list-style-type: square;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 30px;
}

.content-column table {
  border-style: none;
  border-color: silver;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-column td {
  border-style: none;
  border-color: silver;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.content-column th {
  border-style: none;
  border-color: silver;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.content-column .btop {
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 1px;
}

.content-column .brgt {
  border-right-width: 1px;
  border-right-style: solid;
  padding-right: 1px;
}

.content-column .bbot {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1px;
}

.content-column .blft {
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 10px;
}

.content-column .bbox {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  padding: 1px;
}

.content-column .in1 {
  padding-left: 20px;
}

.content-column .in2 {
  padding-left: 40px;
}

.content-column .in3 {
  padding-left: 60px;
}

.content-column .in4 {
  padding-left: 80px;
}

.content-column .in5 {
  padding-left: 100px;
}

.content-column .in6 {
  padding-left: 120px;
}

.content-column .in7 {
  padding-left: 140px;
}

.content-column .in8 {
  padding-left: 160px;
}

.content-column .alpha {
  list-style-type: lower-alpha;
}

.content-column .bu {
  font-weight: bold;
  text-decoration: underline;
}

.content-column .c2b {
  color: #00ffff;
  font-weight: bold;
}

.content-column .f1b {
  font-family: 'Symbol';
  font-weight: bold;
}

.content-column .c5b {
  color: #ff0000;
  font-weight: bold;
}

.content-column .c14 {
  color: #7f7f7f;
}

.content-column .f4c14 {
  font-family: 'Impact';
  color: #7f7f7f;
}

.content-column .u {
  text-decoration: underline;
}

.content-column .c1b {
  color: #0000ff;
  font-weight: bold;
}

.content-column .f1 {
  font-family: 'Symbol';
}

.content-column .b {
  font-weight: bold;
}

.content-column .c5 {
  color: #ff0000;
}

.content-column .c6b {
  color: #ff00ff;
  font-weight: bold;
}

.content-column .c14b {
  color: #7f7f7f;
  font-weight: bold;
}

.content-column .bi {
  font-weight: bold;
  font-style: italic;
}

.content-column .i {
  font-style: italic;
}
