<jqxNotification
  id="duplicateJointError"
  [template]="'error'"
  [position]="'bottom-left'"
>
  Oops... Can't have two joints in the same place.
</jqxNotification>
<jqxNotification
  id="duplicateMemberError"
  [template]="'error'"
  [position]="'bottom-left'"
>
  Oops... Can't have two members with the same joints.
</jqxNotification>
<jqxNotification
  id="highPierError"
  [template]="'error'"
  [position]="'bottom-left'"
>
  Oops... Member can't pass through high pier.
</jqxNotification>
<jqxNotification
  id="moveJointError"
  [template]="'error'"
  [position]="'bottom-left'"
>
  Oops... Can't move a joint onto another joint.
</jqxNotification>
<jqxNotification
  id="tooManyJointsError"
  [template]="'error'"
  [position]="'bottom-left'"
>
  Oops... That makes too many joints.
</jqxNotification>
<jqxNotification
  id="tooManyMembersError"
  [template]="'error'"
  [position]="'bottom-left'"
>
  Oops... That makes too many members.
</jqxNotification>
