<jqxNotification
  id="autofixInfo"
  [template]="'info'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Hey! Auto-corrections were applied. Undo if you like.
</jqxNotification>
<jqxNotification
  id="duplicateJointError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... Can't have two joints in the same place.
</jqxNotification>
<jqxNotification
  id="duplicateMemberError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... Can't have two members with the same joints.
</jqxNotification>
<jqxNotification
  id="fileReadError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... Couldn't read that file.
</jqxNotification>
<jqxNotification
  id="fileSaveSuccess"
  [template]="'success'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Yay! Your design has been saved.
</jqxNotification>
<jqxNotification
  id="fileWriteError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... Couldn't save that file.
</jqxNotification>
<jqxNotification
  id="highPierError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... Member can't pass through high pier.
</jqxNotification>
<jqxNotification
  id="moveJointError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... Can't move a joint onto another joint.
</jqxNotification>
<jqxNotification
  id="needWebGl2Error"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... This browser is missing Web GL2, needed for load test animations.
</jqxNotification>
<jqxNotification
  id="manifoldBuildFailedError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Sorry... This bridge is too complicated print.
</jqxNotification>
<jqxNotification
  id="noMembersToAddError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... No members to add!
</jqxNotification>
<jqxNotification
  id="shaderError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... There's a problem with your graphics card.
</jqxNotification>
<jqxNotification
  id="tooManyJointsError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... That makes too many joints.
</jqxNotification>
<jqxNotification
  id="tooManyMembersError"
  [template]="'error'"
  [position]="'bottom-left'"
  [autoCloseDelay]="autoCloseDelay"
>
  Oops... That makes too many members.
</jqxNotification>
