.header {
  font-weight: 700;
}

.scroller {
  overflow-y: auto;
  height: 650px;
  width: calc(100% - 2px);
}

.member-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.member-table td {
  border: 1px solid lightgray;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 1; 
}

.table-header th {
  border: 1px solid rgb(170,170,170);
  background-color: lightgray;
  font-weight: normal;
  font-size: smaller;
  padding: 4px;
}

.table-body td {
  padding: 2px 4px;
}

.std-wide {
  min-width: 70px;
}

.numeric-col {
  text-align: right;
}

.table-header th, .text-col {
  text-align: center;
}

.buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
