<div class="top-view">
  <menus class="menus"></menus>
  <div class="toolbar-wrapper">
    <toolbar-a></toolbar-a>
    <toolbar-b></toolbar-b>
  </div>
  <drafting-panel class="drafting-panel"></drafting-panel>
  <member-table
    #memberTable
    class="member-table"
  ></member-table>
  <ruler
    #leftRuler
    class="left-ruler"
    [position]="'left'"
  ></ruler>
  <ruler
    #bottomRuler
    class="bottom-ruler"
    [position]="'bottom'"
  ></ruler>
</div>
<div>
  <setup-wizard></setup-wizard>
</div>
<div>
  <sample-selection-dialog></sample-selection-dialog>
</div>
<div>
  <template-selection-dialog></template-selection-dialog>
</div>
<div>
  <unstable-bridge-dialog></unstable-bridge-dialog>
</div>