<div class="top-view">
  <menus class="menus"></menus>
  <div class="toolbar-wrapper">
    <toolbar-a></toolbar-a>
    <toolbar-b></toolbar-b>
  </div>
  <div
    #draftingAreaCover
    class="drafting-area-cover"
  ></div>
  <drafting-panel class="drafting-panel"></drafting-panel>
  <member-table
    #memberTable
    class="member-table"
  ></member-table>
  <ruler
    #leftRuler
    class="left-ruler"
    [position]="'left'"
  ></ruler>
  <ruler
    #bottomRuler
    class="bottom-ruler"
    [position]="'bottom'"
  ></ruler>
</div>
<div>
  <cost-report-dialog />
</div>
<div>
  <design-iteration-dialog />
</div>
<div>
  <help-dialog />
</div>
<div>
  <load-test-report-dialog />
</div>
<div>
  <sample-selection-dialog />
</div>
<div>
  <setup-wizard />
</div>
<div>
  <slenderness-fail-dialog />
</div>
<div>
  <template-selection-dialog />
</div>
<div>
  <unstable-bridge-dialog />
</div>
<div>
  <welcome-dialog />
</div>
