<jqxWindow
  #dialog
  [autoOpen]="false"
  [position]="{ x: 12, y: 122 }"
  [isModal]="false"
  [width]="windowWidth"
  [height]="windowHeight"
  [resizable]="false"
  (onClose)="handleClose($event)"
>
  <div class="header">
    <img
      src="img/tools.png"
      class="header-icon"
    />
    Tools
  </div>
  <div class="content">
    <jqxToggleButton
      #jointsButton
      [imgSrc]="'img/joint.png'"
      [imgWidth]="imgSize"
      [imgHeight]="imgSize"
      [width]="buttonSize"
      [height]="buttonSize"
      [toggled]="true"
    ></jqxToggleButton>
    <jqxToggleButton
      #membersButton
      [imgSrc]="'img/member.png'"
      [imgWidth]="imgSize"
      [imgHeight]="imgSize"
      [width]="buttonSize"
      [height]="buttonSize"
    ></jqxToggleButton>
    <jqxToggleButton
      #selectButton
      [imgSrc]="'img/arrow.png'"
      [imgWidth]="imgSize"
      [imgHeight]="imgSize"
      [width]="buttonSize"
      [height]="buttonSize"
    ></jqxToggleButton>
    <jqxToggleButton
      #eraseButton
      [imgSrc]="'img/eraser.png'"
      [imgWidth]="imgSize"
      [imgHeight]="imgSize"
      [width]="buttonSize"
      [height]="buttonSize"
    ></jqxToggleButton>
  </div>
</jqxWindow>
