<jqxWindow
  #dialog
  [isModal]="false"
  [autoOpen]="false"
  [width]="344"
  [height]="300"
  [initContent]="initDialogContent"
>
  <div class="header">Animation settings</div>
  <div class="content">
    <!-- documented, unfixed bug in jqWidgets: sliders must be programmatically built in initContent -->
    <div class="speed">
      Speed
      <ng-container #speedSliderContainer></ng-container>{{ speed }} km/hr
    </div>
    <div class="controls">
      <jqxCheckBox
        #shadowsCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        (onChange)="handleShadowsCheckboxChange()"
      >
        Shadows</jqxCheckBox
      >
      <jqxCheckBox
        #skyCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        (onChange)="handleSkyCheckboxChange()"
      >
        Sky</jqxCheckBox
      >
      <jqxCheckBox
        #terrainCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        (onChange)="handleTerrainCheckboxChange()"
      >
        Terrain</jqxCheckBox
      >
      <jqxCheckBox
        #windTurbineCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        (onChange)="handleWindTurbineCheckboxChange()"
      >
        Wind turbine</jqxCheckBox
      >
      <jqxCheckBox
        #abutmentsCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        (onChange)="handleAbutmentsCheckboxChange()"
      >
        Abutments</jqxCheckBox
      >
      <jqxCheckBox
        #truckCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        (onChange)="handleTruckCheckboxChange()"
      >
        Truck</jqxCheckBox
      >
      <jqxCheckBox
        #memberColorsCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        (onChange)="handleMemberColorsCheckbox()"
      >
        Member colors</jqxCheckBox
      >
      <jqxCheckBox
        #exaggerationCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        (onChange)="handleExaggerationCheckbox()"
      >
        Exaggeration</jqxCheckBox
      >
      <div>
        Brightness
        <ng-container #brightnessSliderContainer></ng-container>
      </div>
    </div>
  </div>
</jqxWindow>
