// Don't let jqxToolbars melt down trying to minimize.
body {
  min-width: 800px;
}

.jqx-window-content {
  padding: 0px;
}

.jqx-expander-header {
  border: 0;
  background-color: white;
}

.jqx-expander-content-bottom {
  width: 100%;
  border:0;
  padding-left: 0;
  padding-right: 0;
}


.jqx-cell {
  padding-top: 0;
  padding-bottom: 0;
}

.loading-div {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-img {
  width: 319px;
  height: 102.5px;
}
