.header {
  font-weight: bold;
}

.content {
  display: grid;
  grid-template-columns: 360px 240px min-content;
  grid-template-rows: min-content 160px;
  padding: 8px;
  background-color: rgb(238,238,238);
}

.banner {
  grid-row: 1;
  grid-column: 1 / 3;
  margin-bottom: 16px;
}

.banner-img {
  width: 600px;
}

.radio {
  grid-row: 2;
  grid-column: 1;
  padding-top: 24px;
}

.radio-selection {
  margin-left: 32px;
  margin-bottom: 16px;
}

.design-tip {
  grid-row: 2;
  grid-column: 2;
}

.button-column {
  grid-row: 1 / 3;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 8px;
}

.radio-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
