.header {
  font-weight: 700;
}

.heading {
  font-size: 20px;
  font-weight: 700;
}

.content {
  padding: 8px;
}

.tab-content {
  margin: 8px;
}

.highlighted {
  color: rgb(0, 226, 226);
  font-weight: 700;
}

.design-tip {
  height: 78px;
  margin-top: 8px;
  margin-left: -0.5px;
  margin-right: -1.5px;
}

.buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.tip-icon {
  float: left;
}